$clr-bg: rgb(0, 48, 73);
$clr-font: rgb(255, 255, 255);
$clr-danger: rgb(215, 40, 40);
$clr-warning: rgb(252, 191, 73);
$clr-primary: rgb(247, 127, 0);
$clr-secondary: rgb(234, 226, 183);

$clr-bg-dark: darken($clr-bg, 20%);

$font-default: 'Raleways';